h3 
{
    font-size: 23px !important;
}

.btn-success:hover
{
    background-color: aqua;
}

canvas
{
    animation-name: canvas;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes canvas
{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px yellow;}
}